@font-face {
  font-family: "iconfont"; /* Project id 2442370 */
  src: url('iconfont.woff2?t=1620271763930') format('woff2'),
       url('iconfont.woff?t=1620271763930') format('woff'),
       url('iconfont.ttf?t=1620271763930') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wodetuandui:before {
  content: "\e6a0";
}

.icon-qian:before {
  content: "\e662";
}

.icon-qizi:before {
  content: "\e654";
}

.icon-aixin1:before {
  content: "\e64d";
}

.icon-shenglvehao:before {
  content: "\e708";
}

.icon-aixin:before {
  content: "\e610";
}

.icon-guanbi1:before {
  content: "\e612";
}

.icon-wentifenpei:before {
  content: "\e65b";
}

.icon-weixin1:before {
  content: "\e65d";
}

.icon-guanbi:before {
  content: "\e61b";
}

.icon-sanjiaoxing:before {
  content: "\e6e6";
}

.icon-sanjiaoxing_shang:before {
  content: "\e6e8";
}

.icon-yue01:before {
  content: "\e630";
}

.icon-weixin:before {
  content: "\e61a";
}

.icon-hongbao:before {
  content: "\eeac";
}

.icon-shoucang1:before {
  content: "\e613";
}

.icon-gouwu_huabanfuben:before {
  content: "\e60f";
}

.icon-fenxiang:before {
  content: "\e639";
}

.icon-kefu:before {
  content: "\e680";
}

.icon-shezhi:before {
  content: "\e751";
}

.icon-huangguan:before {
  content: "\e63f";
}

.icon-youjiantou_huaban:before {
  content: "\e63c";
}

.icon-lianxikefu:before {
  content: "\e646";
}

.icon-fuwuxieyi:before {
  content: "\e651";
}

.icon-shangwu:before {
  content: "\e69d";
}

.icon-changjianwenti:before {
  content: "\e64e";
}

.icon-shouhuodizhi:before {
  content: "\e60e";
}

.icon-shoucang:before {
  content: "\e6e7";
}

.icon-sousuo:before {
  content: "\e604";
}

